<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="icu.fordring.voter.mapper.DevMapper">
    <update id="createRole">
        DROP TABLE IF EXISTS `role`;
        CREATE TABLE `role`  (
          `id` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `description` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `level` int(11) NULL DEFAULT NULL,
          PRIMARY KEY (`id`) USING BTREE
        ) ENGINE = InnoDB CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>
    <update id="cleanRole">
        TRUNCATE TABLE role;
    </update>
    <insert id="initRole">
        INSERT INTO role
        (id,`name`,description,`level`)
        VALUES
        (REPLACE(UUID(),'-',''),'ROOT','超级管理员',10000),
        (REPLACE(UUID(),'-',''),'ADMINISTRATOR','管理员',120),
        (REPLACE(UUID(),'-',''),'PHONE_AUTHORIZED','手机认证用户',-1),
        (REPLACE(UUID(),'-',''),'EMAIL_AUTHORIZED','邮箱认证用户',-1),
        (REPLACE(UUID(),'-',''),'STUDENT','学生',40),
        (REPLACE(UUID(),'-',''),'USER','用户',30);
    </insert>

    <update id="createRoleAuthority">
        DROP TABLE IF EXISTS `role_authority`;
        CREATE TABLE `role_authority`  (
          `id` int(11) NOT NULL AUTO_INCREMENT,
          `rid` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `aid` int(11) NOT NULL,
          PRIMARY KEY (`id`, `rid`, `aid`) USING BTREE
        ) ENGINE = InnoDB AUTO_INCREMENT = 1 CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>
    <update id="cleanRoleAuthority">
        TRUNCATE TABLE role_authority;
    </update>


    <update id="createAuthority">
        DROP TABLE IF EXISTS `authority`;
        CREATE TABLE `authority`  (
          `id` int(11) NOT NULL AUTO_INCREMENT,
          `name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `description` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `level` int(11) NULL DEFAULT NULL,
          PRIMARY KEY (`id`) USING BTREE
        ) ENGINE = InnoDB AUTO_INCREMENT = 25 CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>
    <update id="cleanAuthority">
        TRUNCATE TABLE `authority`;
    </update>
    <insert id="initAuthority">
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (1, 'USER_LOGIN', '登录权限', -1);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (2, 'USER_REGISTER', '注册权限', -1);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (3, 'USER_LOGOUT', '登出权限', 1);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (4, 'USER_INFO', '获取自身的信息', 1);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (5, 'USER_ALL_QUERY', '查询普通用户信息', 50);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (6, 'USER_ALL_UPDATE', '修改普通用户信息', 70);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (7, 'USER_ALL_BAN', '封禁普通用户', 90);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (8, 'USER_ALL_DELETE', '删除普通用户', 110);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (9, 'USER_UPDATE', '修改自身的信息', 5);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (10, 'USER_BAN', '注销自身的账户', 7);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (11, 'USER_ROOT_QUERY', '获取所有用户的信息', 100);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (12, 'USER_ROOT_UPDATE', '修改所有用户的信息', 150);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (13, 'USER_ROOT_BAN', '封停任意用户', 190);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (14, 'USER_ROOT_DELETE', '删除任意账户', 210);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (15, 'USER_ALL_INSERT', '增加普通用户', 80);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (16, 'USER_ROOT_INSERT', '增加ROOT用户', 1000);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (17, 'USER_FIND_BACK', '找回密码', -1);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (18, 'ERROR', '访问异常处理器', 0);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (19, 'AUTHORITY_LIST', '获取权限列表', 20);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (20, 'DEV', '访问开发工具的权限', 0);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (21, 'AUTHORITY_SELF', '获取自身的权限列表', 1);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (22, 'HAS_LOGIN', '判断自己是否已经登录', 0);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (23, 'AUTHORITY_NAMES_SELF', '获取自身的权限名列表', 0);
        INSERT INTO `authority`(`id`, `name`, `description`, `level`) VALUES (24, 'USER_ADMIN_INSERT', '添加管理员账户', 500);
    </insert>

</mapper>