<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="icu.fordring.voter.mapper.DevMapper">
    <update id="createRole">
        DROP TABLE IF EXISTS `role`;
        CREATE TABLE `role`  (
          `id` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `description` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `level` int(11) NULL DEFAULT NULL,
          PRIMARY KEY (`id`) USING BTREE
        ) ENGINE = InnoDB CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>
    <update id="cleanRole">
        TRUNCATE TABLE role;
    </update>
    <insert id="initRole">
        INSERT INTO role
        (id,`name`,description,`level`)
        VALUES
        (REPLACE(UUID(),'-',''),'ROOT','超级管理员',10000),
        (REPLACE(UUID(),'-',''),'ADMINISTRATOR','管理员',120),
        (REPLACE(UUID(),'-',''),'PHONE_AUTHORIZED','手机认证用户',-1),
        (REPLACE(UUID(),'-',''),'EMAIL_AUTHORIZED','邮箱认证用户',-1),
        (REPLACE(UUID(),'-',''),'STUDENT','学生',40),
        (REPLACE(UUID(),'-',''),'USER','用户',30);
    </insert>

    <update id="createRoleAuthority">
        DROP TABLE IF EXISTS `role_authority`;
        CREATE TABLE `role_authority`  (
          `id` int(11) NOT NULL AUTO_INCREMENT,
          `rid` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `aid` int(11) NOT NULL,
          PRIMARY KEY (`id`, `rid`, `aid`) USING BTREE
        ) ENGINE = InnoDB AUTO_INCREMENT = 1 CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>
    <update id="cleanRoleAuthority">
        TRUNCATE TABLE role_authority;
    </update>


    <update id="createAuthority">
        DROP TABLE IF EXISTS `authority`;
        CREATE TABLE `authority`  (
          `id` int(11) NOT NULL AUTO_INCREMENT,
          `name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `description` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `level` int(11) NULL DEFAULT NULL,
          PRIMARY KEY (`id`) USING BTREE
        ) ENGINE = InnoDB AUTO_INCREMENT = 25 CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>
    <update id="cleanAuthority">
        TRUNCATE TABLE `authority`;
    </update>
    <insert id="initAuthority">
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_LOGIN', '登录权限', -1);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_REGISTER', '注册权限', -1);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_FIND_BACK', '找回密码', -1);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_LOGOUT', '登出权限', 1);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_INFO', '获取自身的信息', 1);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_ALL_QUERY', '查询普通用户信息', 50);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_ALL_UPDATE', '修改普通用户信息', 70);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_ALL_BAN', '封禁普通用户', 90);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_ALL_DELETE', '删除普通用户', 110);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_UPDATE', '修改自身的信息', 5);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_BAN', '注销自身的账户', 7);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_ROOT_QUERY', '获取所有用户的信息', 100);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_ROOT_UPDATE', '修改所有用户的信息', 150);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_ROOT_BAN', '封停任意用户', 190);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_ROOT_DELETE', '删除任意账户', 210);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_ALL_INSERT', '增加普通用户', 80);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_ROOT_INSERT', '增加ROOT用户', 1000);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('USER_ADMIN_INSERT', '添加管理员账户', 500);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('HAS_LOGIN', '判断自己是否已经登录', 0);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('ERROR', '访问异常处理器', 0);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('DEV', '访问开发工具的权限', 0);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('AUTHORITY_LIST', '获取权限列表', 20);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('AUTHORITY_SELF', '获取自身的权限列表', 1);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('AUTHORITY_NAMES_SELF', '获取自身的权限名列表', 0);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('ROLE_SELF', '获取自身的角色列表', 0);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('ROLE_QUERY', '获取角色的详细信息', 25);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('PHONE_USER', '手机认证用户', -1);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('EMAIL_USER', '邮箱认证用户', -1);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('ROLE_UPDATE', '修改所有角色', 111);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('PLATE_QUERY', '查询板块信息', 26);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('PLATE_CREATE', '新建板块', 35);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('IMAGE_INSERT', '插入image', 31);
        INSERT INTO `authority`(`name`, `description`, `level`) VALUES ('IMAGE_QUERY', '查询image', 25);

    </insert>

    <update id="createUser">
        DROP TABLE IF EXISTS `user`;
        CREATE TABLE `user`  (
          `id` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `username` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `password` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `real_name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `student_id` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `email` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `phone` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `enabled` int(11) NULL DEFAULT NULL,
          `last_password_reset_date` datetime(0) NULL DEFAULT NULL,
          `create_date` datetime(0) NULL DEFAULT NULL,
          `description` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `head` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          PRIMARY KEY (`id`) USING BTREE
        ) ENGINE = InnoDB CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>
    <update id="cleanUser">
        TRUNCATE TABLE `user`;
    </update>
    <update id="createHeadResource">
        DROP TABLE IF EXISTS `head_resource`;
        CREATE TABLE `head_resource`  (
          `id` bigint(20) NOT NULL AUTO_INCREMENT,
          `resource` mediumblob NULL,
          `is_gift` bit(1) NULL DEFAULT b'0',
          PRIMARY KEY (`id`) USING BTREE
        ) ENGINE = InnoDB AUTO_INCREMENT = 1 CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>
    <update id="cleanHeadResource">
        TRUNCATE TABLE `head_resource`;
    </update>
    <update id="createUserRole">
        DROP TABLE IF EXISTS `user_role`;
        CREATE TABLE `user_role`  (
          `id` int(11) NOT NULL AUTO_INCREMENT,
          `uid` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `rid` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          PRIMARY KEY (`id`, `uid`, `rid`) USING BTREE
        ) ENGINE = InnoDB AUTO_INCREMENT = 51 CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>
    <update id="cleanUserRole">
        TRUNCATE TABLE `user_role`;
    </update>

    <update id="createSessionTable">
        DROP TABLE IF EXISTS SPRING_SESSION_ATTRIBUTES;
        DROP TABLE IF EXISTS SPRING_SESSION;
        CREATE TABLE SPRING_SESSION (
            PRIMARY_ID CHAR(36) NOT NULL,
            SESSION_ID CHAR(36) NOT NULL,
            CREATION_TIME BIGINT NOT NULL,
            LAST_ACCESS_TIME BIGINT NOT NULL,
            MAX_INACTIVE_INTERVAL INT NOT NULL,
            EXPIRY_TIME BIGINT NOT NULL,
            PRINCIPAL_NAME VARCHAR(100),
            CONSTRAINT SPRING_SESSION_PK PRIMARY KEY (PRIMARY_ID)
        ) ENGINE=INNODB ROW_FORMAT=DYNAMIC;

        CREATE UNIQUE INDEX SPRING_SESSION_IX1 ON SPRING_SESSION (SESSION_ID);
        CREATE INDEX SPRING_SESSION_IX2 ON SPRING_SESSION (EXPIRY_TIME);
        CREATE INDEX SPRING_SESSION_IX3 ON SPRING_SESSION (PRINCIPAL_NAME);

        CREATE TABLE SPRING_SESSION_ATTRIBUTES (
            SESSION_PRIMARY_ID CHAR(36) NOT NULL,
            ATTRIBUTE_NAME VARCHAR(200) NOT NULL,
            ATTRIBUTE_BYTES BLOB NOT NULL,
            CONSTRAINT SPRING_SESSION_ATTRIBUTES_PK PRIMARY KEY (SESSION_PRIMARY_ID, ATTRIBUTE_NAME),
            CONSTRAINT SPRING_SESSION_ATTRIBUTES_FK FOREIGN KEY (SESSION_PRIMARY_ID) REFERENCES SPRING_SESSION(PRIMARY_ID) ON DELETE CASCADE
        ) ENGINE=INNODB ROW_FORMAT=DYNAMIC;
    </update>
    <update id="createPersistentLoginTable">
        DROP TABLE IF EXISTS `persistent_logins`;
        CREATE TABLE `persistent_logins`  (
          `username` varchar(64) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `series` varchar(64) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `token` varchar(64) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `last_used` timestamp(0) NOT NULL,
          PRIMARY KEY (`series`) USING BTREE
        ) ENGINE = InnoDB CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>
    <update id="createCommentTable">
        DROP TABLE IF EXISTS `comment`;
        CREATE TABLE `comment`  (
          `id` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `content` text CHARACTER SET utf8 COLLATE utf8_general_ci NULL,
          `uid` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `iid` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `parent` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `create_time` datetime(0) NULL DEFAULT NULL,
          PRIMARY KEY (`id`, `uid`, `iid`) USING BTREE
        ) ENGINE = InnoDB CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>
    <update id="createImageTable">
        DROP TABLE IF EXISTS `image`;
        CREATE TABLE `image`  (
          `id` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `uid` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `description` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `create_time` datetime(0) NULL DEFAULT NULL,
          `resource` mediumblob NULL,
          `pid` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          PRIMARY KEY (`id`, `uid`, `pid`) USING BTREE
        ) ENGINE = InnoDB CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>
    <update id="createLikeImageTable">
        DROP TABLE IF EXISTS `like_image`;
        CREATE TABLE `like_image`  (
          `id` bigint(20) NOT NULL AUTO_INCREMENT,
          `uid` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `iid` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `create_time` datetime(0) NULL DEFAULT NULL,
          PRIMARY KEY (`id`, `uid`, `iid`) USING BTREE
        ) ENGINE = InnoDB AUTO_INCREMENT = 1 CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>

    <update id="createPlateTable">
        DROP TABLE IF EXISTS `plate`;
        CREATE TABLE `plate`  (
          `id` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `create_time` datetime(0) NULL DEFAULT NULL,
          `start_time` datetime(0) NULL DEFAULT NULL,
          `end_time` datetime(0) NULL DEFAULT NULL,
          `name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `uid` varchar(36) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          `description` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
          PRIMARY KEY (`id`) USING BTREE
        ) ENGINE = InnoDB CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>
</mapper>